"*":
  Hydrogen: {}
  "autocomplete-bibtex":
    bibtex: [
      "/home/arthurcgusmao/Documents/zotero.bib"
    ]
  "autocomplete-plus":
    enableAutoActivation: false
    strictMatching: true
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette":
    preserveLastSearch: true
  core:
    disabledPackages: [
      "jupyter-notebook"
      "language-gfm"
      "markdown-preview"
      "autocomplete-python"
      "Hydrogen"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview-plus"
      "latex"
      "markdown-preview-enhanced"
      "autocomplete-plus"
      "highlight-line"
      "atom-keyboard-macros"
    ]
    projectHome: "/home/arthurcgusmao/Projects"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "acg-syntax"
    ]
    warnOnLargeFileLimit: 2
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 16
    invisibles: {}
    lineHeight: 1
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "5f18bbb9-cb73-482c-8f71-217bafc53a12"
  "expand-region": {}
  "file-icons":
    coloured: false
    strategies: {}
  "highlight-line": {}
  "isotope-light-ui": {}
  languagetool:
    motherTongue: "pt-BR"
    preferredVariants: [
      "en-US"
      "pt-BR"
    ]
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
    opener: "pdf-view"
  "linter-write-good":
    severityLevel: "Warning"
  "markdown-preview-enhanced":
    breakOnSingleNewLine: false
    frontMatterRenderingOption: "code block"
    imageDropAction: "copy to image folder"
    imageFolderPath: "images"
    pandocArguments: "--filter=/home/arthurcgusmao/.miniconda3/bin/pandoc-fignos, --filter=/home/arthurcgusmao/.miniconda3/bin/pandoc-eqnos, --filter=pandoc-citeproc"
    usePandocParser: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    pandocArguments: [
      "--filter=pandoc-fignos"
    ]
    pandocBIBFileFallback: "/home/arthurcgusmao/Documents/zotero.bib"
    pandocBibliography: true
    pandocRemoveReferences: false
    useGitHubStyle: true
    useLazyHeaders: false
  minimap: {}
  pigments: {}
  "quick-highlight":
    decorate: "highlight"
  "seti-super-compact-ui":
    disableAnimations: true
  "status-bar": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
".bibtex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".latex.log.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
