[
  {
    title: "Atom Configuration Files"
    paths: [
      "/home/arthurcgusmao/.atom"
    ]
  }
  {
    title: "Asteroidea"
    paths: [
      "/home/arthurcgusmao/Projects/asteroidea"
    ]
  }
]
